@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Ubuntu:wght@500;700&display=swap');

/* Custom properties */
:root {
  /* Colors */
  --clr-dark: #272a31;
  --clr-red: #ec5242;
  --clr-light: #d3d3d3;
  --clr-white: #fff;

  /* Fonts-sizes */
  --fs-900: 6.25rem;
  --fs-800: 3.5rem;
  --fs-700: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.675rem;

  /* font-families */
  --ff-lato: 'Lato', sans-serif;
  --ff-ubuntu: 'COCOGOOSE', sans-serif;
}

/* RESET */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default link style */

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-lato);
  background-color: var(--clr-white);
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styles */

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 0);
}

.grid {
  display: grid;
  gap: var(--gap, 0);
  grid-template-columns: repeat(var(--col-repeats, 1), 1fr);
}

.aligen-items-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 1.2em;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-white {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.bg-dark {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.uppercase {
  text-transform: uppercase;
}

.column {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap, 1.6rem);
  list-style: none;
  font-family: var(--ff-lato);
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: var(--clr-text-secondary);
}

.section--title {
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-500);
  line-height: 1.8rem;
  align-items: center;
  font-family: var(--ff-ubuntu);
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.section--title::after {
  content: '';
  background-color: var(--clr-red);
  height: 1px;
  width: 35%;
  margin-top: 0.8rem;
}

.section--peragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--clr-dark);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn--text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--clr-dark);
}

.btn--primary {
  padding: 0.8rem 1.8rem;
  font-style: normal;
  font-weight: 500;
  font-size: var(--fs-400);
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  background-color: var(--clr-red);
  color: var(--clr-white);
}

.btn--border {
  border: 1px solid var(--clr-light);
  border-radius: 0.3rem;
  padding: 0.2rem 0.2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  color: var(--clr-dark);
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap, 1.6rem);
}

.span-2 {
  flex: 2 0 0 !important;
}

/* Icons */

.icon {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

.icon-menu {
  content: url(../images/icons/icn-menu.svg);
}

.icon-close {
  content: url(../images/icons/icn-close.svg);
}

.icon-lecture {
  content: url(../images/icons/icn-lecture.svg);
}

.icon-exhibition {
  content: url(../images/icons/icn-exhibition.svg);
}

.icon-forum {
  content: url(../images/icons/icn-forum.svg);
}

.icon-workshop {
  content: url(../images/icons/icn-workshop.svg);
}

.icon-network {
  content: url(../images/icons/icn-network.svg);
}

.icon-cyber {
  content: url(../images/icons/network-monitoring.svg);
}

.icon-arrow-down {
  content: url(../images/icons/icn-arrow-down.svg);
}

.no--scroll {
  overflow: hidden;
}

/* Header Section */

.header__nav {
  padding: 0.3rem 1.2rem;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: none;

  --gap: 1.2rem;
}

.header__nav a {
  width: 16px;
  height: 16px;
}

nav a[data-target='brandLogo'] {
  display: none;
}

.button-group {
  justify-content: center;
  align-items: center;

  --gap: 0.8rem;
}

.button-group button {
  font-size: 0.8rem;
}

.nav__main {
  padding: 1rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: none;
  flex-direction: row;
  gap: 1rem;
}

.brand__logo {
  width: 100px;
}

.nav--mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 4rem;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.animate--show {
  animation-duration: 0.4s;
  animation-name: slidein;
}

.animate--hide {
  animation-duration: 0.3s;
  animation-name: slideout;
}

.nav--brands li {
  flex: 0 0 25%;
}

.nav--mobile li:first-child {
  margin-top: 70%;
}

.nav--mobile a {
  font-size: 1.7rem;
}

.active {
  color: var(--clr-red);
}

.close {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 99999;
}

/* Partners Section */

.partners {
  align-items: center;
  padding: 2.5rem 2rem;
}

.nav--brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  align-items: center;
  list-style: none;
  font-family: var(--ff-lato);
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: var(--clr-text-secondary);
  margin-top: 1.5rem;
}

.nav--brands img {
  max-width: 100%;
}

/* footer Section */

.footer {
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;

  --gap: 2rem;
}

.footer__group {
  flex: 1 0 0;
}

.footer__group img {
  max-width: 80%;
}

.footer__group p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-400);
  font-family: var(--ff-lato);
  line-height: 1.25rem;
  color: var(--clr-dark);
}

@media screen and (min-width: 775px) {
  .header__nav {
    display: flex;
    padding: 0.3rem 2rem;
  }

  .nav__main {
    padding: 1rem 4rem;
  }

  .nav-menu {
    display: flex;
  }

  .btn[data-target='mobileMenu'] {
    display: none;
  }

  .btn[data-target='mobileMenuClose'] {
    display: none;
  }

  .nav--mobile {
    display: none;
  }

  nav a[data-target='brandLogo'] {
    display: inline-flex;
  }

  .footer {
    padding: 3rem 2rem;
  }

  .footer__group img {
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .header__nav {
    padding: 0.3rem 3rem;
  }

  .nav__main {
    padding: 1rem 6rem;
  }

  .footer {
    padding: 4rem 2rem;
  }

  .footer__group img {
    max-width: 30%;
  }
}

@media screen and (min-width: 1100px) {
  .header__nav {
    padding: 0.3rem 13rem;
  }

  .nav__main {
    padding: 1rem 13rem;
  }

  .footer {
    padding: 6rem 13rem;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}
