@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Ubuntu:wght@500;700&display=swap');

/* Custom properties */
:root {
  /* Colors */
  --clr-dark: #272a31;
  --clr-red: #ec5242;
  --clr-light: #d3d3d3;
  --clr-white: #fff;

  /* Fonts-sizes */
  --fs-900: 6.25rem;
  --fs-800: 3.5rem;
  --fs-700: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.675rem;

  /* font-families */
  --ff-lato: 'Lato', sans-serif;
  --ff-ubuntu: 'Ubuntu', sans-serif;
}

/* RESET */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default link style */

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-lato);
  background-color: var(--clr-white);
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styles */

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 0);
}

.grid {
  display: grid;
  gap: var(--gap, 0);
  grid-template-columns: repeat(var(--col-repeats, 1), 1fr);
}

.aligen-items-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 1.2em;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-white {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.bg-dark {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.uppercase {
  text-transform: uppercase;
}

.column {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap, 1.6rem);
  list-style: none;
  font-family: var(--ff-lato);
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: var(--clr-text-secondary);
}

.section--title {
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-500);
  line-height: 5.2rem;
  display: flex;
  align-items: center;
  font-family: var(--ff-ubuntu);
}

.section--peragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--clr-dark);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn--text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--clr-dark);
}

.btn--primary {
  padding: 0.8rem 1.8rem;
  font-style: normal;
  font-weight: 500;
  font-size: var(--fs-400);
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  background-color: var(--clr-red);
  color: var(--clr-white);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap, 1.6rem);
}

/* Icons */

.icon {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

.icon-menu {
  content: url(images/icons/icn-menu.svg);
}

.icon-lecture {
  content: url(images/icons/icn-lecture.svg);
}

.icon-exhibition {
  content: url(images/icons/icn-exhibition.svg);
}

.icon-forum {
  content: url(images/icons/icn-forum.svg);
}

.icon-workshop {
  content: url(images/icons/icn-workshop.svg);
}

.icon-network {
  content: url(images/icons/icn-network.svg);
}

/* Header Section */

.header {
  padding: 1.2rem 1.2rem;
}

/* Hero Section */

.hero {
  padding: 1rem 1.6rem;
}

.intro__title p {
  font-style: normal;
  font-weight: 300;
  font-size: var(--fs-400);
  line-height: 1.4rem;
  color: var(--clr-red);
}

.intro__title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-600);
  line-height: 2rem;
  color: var(--clr-red);
  font-family: var(--ff-ubuntu);
  background-image: url(images/red-image.jpeg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__content {
  margin-top: 1.5rem;
}

.intro__content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-400);
  font-family: var(--ff-ubuntu);
  line-height: 2rem;
  color: var(--clr-dark);
}

.intro__content p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-200);
  line-height: 1.25rem;
  color: var(--clr-dark);
}

/* Programs Section */

.main__program {
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  --gap: 1.5rem;
}

.main__program h2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  line-height: 4rem;
}

.main__program h2:after {
  content: '';
  background-color: var(--clr-red);
  height: 1px;
  width: 35%;
}

.program__group {
  flex-direction: column;
  --gap: 0.6rem;
}

.program {
  background-color: #3c3f46;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
}

.program__title {
  flex: 1 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-300);
  font-family: var(--ff-ubuntu);
  line-height: 1.25rem;
  color: var(--clr-white);
}

.program__body {
  flex: 2 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-200);
  line-height: 1.25rem;
  color: var(--clr-white);
}

/* Speakers Section */

.speakers {
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  --gap: 1.5rem;
}

.speakers h2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  line-height: 4rem;
}

.speakers h2:after {
  content: '';
  background-color: var(--clr-red);
  height: 1px;
  width: 35%;
}

.speakers__group {
  --gap: 1rem;
}

.speaker {
  --gap: 0.8rem;
}

.left {
  background-image: url(images/pixels.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 60%;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  flex: 1 0 0;
}

.left img {
  max-width: 100%;
}

.right {
  flex: 2 0 0;
}

.right h3 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--fs-500);
  font-family: var(--ff-ubuntu);
  line-height: 1.25rem;
  color: var(--clr-dark);
}

.speaker__background {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-300);
  font-family: var(--ff-lato);
  line-height: 1.25rem;
  color: var(--clr-red);
}

.speaker__body {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-300);
  font-family: var(--ff-lato);
  line-height: 1.25rem;
  color: var(--clr-dark);
}

/* Partners Section */

.partners {
  align-items: center;
  padding: 2rem 1rem;
}

.nav--brands {
  align-items: center;
  justify-content: center;
}

.nav--brands li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav--brands img {
  max-width: 30%;
}

/* Partners Section */

.footer {
  padding: 2rem 1rem;
  --gap: 0;
  justify-content: space-evenly;
  align-items: center;
}

.footer__group {
  flex: 1 0 0;
}

.footer__group img {
  max-width: 80%;
}

.footer__group p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-200);
  font-family: var(--ff-lato);
  line-height: 1.25rem;
  color: var(--clr-dark);
}
